spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    hibernate:
      ddl-auto: update

  sql:
   init:
     mode: always
     schema-locations: classpath*:schema.sql
     data-locations: classpath*:data.sql

logging:
  level:
    ROOT: debug